DATABASE_URL=postgres://postgres:postgres@db:5432/inimigos_da_bola_api_development
REDIS_URL=redis://redis:6379/0
JWT_SECRET=change-me
FCM_SERVER_KEY=

RACHA_WEEKDAY=monday
RACHA_TIME=20:00
RACHA_LOCATION=Arena X
RACHA_MAX_PLAYERS=20

CORS_ORIGINS=*

API_HOST=http://localhost:4500
API_BASE_URL=http://localhost:4500/api/v1
ANDROID_EMULATOR_API_BASE_URL=http://10.0.2.2:4500/api/v1

ADMIN_EMAIL=admin@inimigosdabola.dev
ADMIN_PASSWORD=inimigos123
